# IDE
.idea/
.vscode/
!.vscode/extensions.json
node_modules
**/*.pdf
**/*.bak
**/*.swp
**/*~

# MacOS clutter
**/.DS_Store

# Local ci
.gitlab-ci-local/
vars.env

# Local config
foundryconfig.json

# Build
dist/
