// Overall Sheet Layout
.actor-sheet {
  font-family: "Jost";

  background-color: @chrome-white;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 17.3rem auto;
  grid-template-rows: 34rem auto;

  grid-template-areas:
    "pane-left pane-right"
    "pane-bottom pane-bottom";

  // Pane for main and stats
  .left-pane {
    display: grid;
    grid-template-columns: 13rem 4rem;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: "actor-details actor-stats";
    width: 100%;
    height: 100%;

    .actor-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 12.4rem 2.8rem 1.5rem 3.2em 3.2rem 3.2rem 3.2rem auto;
      gap: 0.313rem 0.313rem;
      grid-auto-flow: row;
      grid-template-areas:
        "actor-details-image actor-details-image"
        "actor-details-handle actor-details-handle"
        "actor-details-role actor-details-role"
        "actor-details-hp actor-details-humanity"
        "actor-details-wound-state actor-details-death-save"
        "actor-details-improvement-points actor-details-reputation"
        "actor-details-eurobucks actor-details-eurobucks"
        "actor-details-filter actor-details-filter";
      grid-area: actor-details;
      background-color: @wyrm-red;
      padding: 5px;
    }

    .actor-details-image {
      clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
      grid-area: actor-details-image;
      display: grid;
    }

    .actor-details-handle {
      grid-area: actor-details-handle;
      display: grid;
      background-color: @chrome-white;
    }

    .actor-details-role {
      grid-area: actor-details-role;
      display: grid;
      background-color: @chrome-white;
    }

    .actor-details-hp {
      grid-area: actor-details-hp;
      display: grid;
      background-color: @chrome-white;
      grid-template-columns: 1fr 0fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-hp-title actor-details-hp-title actor-details-hp-title"
        "actor-details-hp-current actor-details-hp-of actor-details-hp-max";
      width: 100%;
    }

    .actor-details-hp-title {
      grid-area: actor-details-hp-title;
      display: grid;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-hp-current {
      grid-area: actor-details-hp-current;
      display: grid;
      align-items: center;
    }
    .actor-details-hp-of {
      grid-area: actor-details-hp-of;
      display: grid;
      align-items: center;
    }
    .actor-details-hp-max {
      grid-area: actor-details-hp-max;
      display: grid;
      align-items: center;
    }

    .actor-details-humanity {
      grid-area: actor-details-humanity;
      display: grid;
      background-color: @chrome-white;
      grid-template-columns: 1fr 0fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-humanity-title actor-details-humanity-title actor-details-humanity-title"
        "actor-details-humanity-current actor-details-humanity-of actor-details-humanity-max";
    }

    .actor-details-humanity-title {
      grid-area: actor-details-humanity-title;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-humanity-current {
      grid-area: actor-details-humanity-current;
      display: grid;
      align-items: center;
    }
    .actor-details-humanity-of {
      grid-area: actor-details-humanity-of;
      display: grid;
      align-items: center;
    }
    .actor-details-humanity-max {
      grid-area: actor-details-humanity-max;
      display: grid;
      align-items: center;
    }

    .actor-details-death-save {
      grid-area: actor-details-death-save;
      display: grid;
      background-color: @chrome-white;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-death-save-title actor-details-death-save-title actor-details-death-save-title"
        "actor-details-death-save-reset actor-details-death-save-value actor-details-death-save-actions";
    }

    .actor-details-death-save-reset {
      grid-area: actor-details-death-save-reset;
    }

    .actor-details-death-save-title {
      grid-area: actor-details-death-save-title;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-death-save-value {
      grid-area: actor-details-death-save-value;
    }
    .actor-death-save-actions {
      grid-area: actor-details-death-save-actions;
    }

    .actor-details-wound-state {
      grid-area: actor-details-wound-state;
      display: grid;
      background-color: @chrome-white;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-wound-state-title"
        "actor-details-wound-state-value";
    }

    .actor-details-wound-state-title {
      grid-area: actor-details-wound-state-title;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-wound-state-value {
      grid-area: actor-details-wound-state-value;
    }

    .actor-details-improvement-points {
      grid-area: actor-details-improvement-points;
      display: grid;
      background-color: @chrome-white;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-improvement-points-title actor-details-improvement-points-title actor-details-improvement-points-title"
        "actor-details-wound-state-blank        actor-details-improvement-points-value actor-details-improvement-points-actions";
    }

    .actor-details-improvement-points-title {
      grid-area: actor-details-improvement-points-title;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-improvement-points-value {
      grid-area: actor-details-improvement-points-value;
    }
    .actor-details-improvement-points-actions {
      grid-area: actor-details-improvement-points-actions;
    }
    .actor-details-wound-statee-blank {
      grid-area: actor-details-wound-state-blank;
    }

    .actor-details-reputation {
      grid-area: actor-details-reputation;
      display: grid;
      background-color: @chrome-white;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-reputation-title actor-details-reputation-title actor-details-reputation-title"
        "actor-details-reputation-facedown actor-details-reputation-value actor-details-reputation-actions";
    }

    .actor-details-reputation-title {
      grid-area: actor-details-reputation-title;
      overflow: hidden;
      text-overflow: clip;
    }
    .actor-details-reputation-value {
      grid-area: actor-details-reputation-value;
    }
    .actor-details-reputation-actions {
      grid-area: actor-details-reputation-actions;
    }
    .actor-details-reputation-facedown {
      grid-area: actor-details-reputation-facedown;
    }

    .actor-details-eurobucks {
      grid-area: actor-details-eurobucks;
      display: grid;
      background-color: @chrome-white;

      grid-template-columns: 2rem 1fr 2rem;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "actor-details-eurobucks-title actor-details-eurobucks-title actor-details-eurobucks-title"
        "actor-details-eurobucks-blank actor-details-eurobucks-value actor-details-eurobucks-ledger";
    }

    .actor-details-eurobucks-title {
      grid-area: actor-details-eurobucks-title;
      display: block;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      text-overflow: clip;
    }

    .actor-details-eurobucks-value {
      grid-area: actor-details-eurobucks-value;
      display: block;
      justify-content: center;
      align-items: center;
    }

    .actor-details-eurobucks-ledger {
      grid-area: actor-details-eurobucks-ledger;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .actor-details-filter {
      grid-area: actor-details-filter;
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 1fr;
      gap: 5px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "actor-details-filter-box actor-details-filter-actions";
      background-color: @chrome-white;
    }

    .actor-details-filter-box {
      grid-area: actor-details-filter-box;
      display: grid;
    }
    .actor-details-filter-actions {
      grid-area: actor-details-filter-actions;
      display: grid;
      align-items: center;
    }

    .actor-stats {
      display: grid;
      gap: 5px 0px;
      background-color: @wyrm-red;
      padding: 5px;

      .actor-stats-stat {
        background-color: @chrome-white;
      }

      .actor-stats-value {
        background-color: @chrome-white;
      }
      .actor-stats-of {
        background-color: @chrome-white;
        .actor-stats-of-min {
          display: flex;
          flex-grow: 2;
          padding-right: 0px;
          justify-content: right;
          input {
            padding: 0px;
          }
        }
        .actor-stats-of-sep {
          display: flex;
          flex-shrink: 3;
        }
        .actor-stats-of-max {
          display: flex;
          flex-grow: 2;
          padding-left: 0px;
          justify-content: left;
          input {
            padding: 0px;
          }
        }
      }
    }
  }

  .right-pane {
    grid-area: pane-right;

    width: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.44rem auto;
    grid-template-areas:
      "tabs-right"
      "content-right";

    .right-tabs-section {
      grid-area: tabs-right;

      width: 100%;
    }

    .right-content-section {
      grid-area: content-right;
      display: flex;
      width: 100%;
      height: auto;

      border-color: @wyrm-red;
      border-style: solid;
      border-width: 5px;
      overflow-y: scroll;
    }

    .text-pill {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 2.5rem;
    }
  }

  .bottom-pane {
    grid-area: pane-bottom;
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "tabs-bottom"
      "content-bottom";

    overflow-y: hidden;

    .bottom-tabs-section {
      grid-area: tabs-bottom;

      width: 100%;
      height: 23px;
    }

    .bottom-content-section {
      grid-area: content-bottom;
      display: flex;
      width: 100%;

      border-color: @wyrm-red;
      border-style: solid;
      border-width: 5px;
      overflow-y: auto;
    }
  }
}

.skills-tab {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "skills-left skills-right";
  width: inherit;
  grid-gap: 5px;
  background-color: @wyrm-red;

  .left-pane-skills {
    grid-area: skills-left;
  }

  .right-pane-skills {
    grid-area: skills-right;
  }
}

.effects-tab,
.cyberware-tab,
.gear-tab {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: inherit;
  background-color: @chrome-white;
}

.lifepath-tab {
  display: flex;
  background-color: @chrome-white;
  flex-flow: wrap;
  justify-content: space-between;
  flex: 1;
}

.lifepath-tab {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "notes-pane lifepath-pane";

  .lifepath-section {
    grid-area: lifepath-pane;
    margin: 5px;
  }

  .notes-section {
    grid-area: notes-pane;
    margin: 5px;

    .note-pad {
      display: flex;
      min-height: 425px;
    }
  }
}

.fight-tab {
  display: grid;
  grid-template-columns: 25% 25% auto;
  grid-template-rows: auto;
  grid-template-areas: "injuries armor weapon";
  width: inherit;
  grid-gap: 5px;
  background-color: @wyrm-red;

  .injuries-section {
    grid-area: injuries;
    background-color: @chrome-white;
    min-height: 35px;
  }

  .armor-section {
    grid-area: armor;
    background-color: @chrome-white;
    min-height: 35px;
  }

  .weapon-section {
    grid-area: weapon;
    background-color: @chrome-white;
    min-height: 35px;
  }

  .interface-abilities-section {
    grid-area: injuries;
    background-color: @chrome-white;
    min-height: 35px;
  }

  .select-net-role {
    height: auto;
    max-width: 50%;
  }

  .cyberdeck-installed-section {
    grid-area: armor;
    background-color: @chrome-white;
    min-height: 35px;

    .cyberdeck-installed-software-list {
      display: grid;
      grid-template-columns: 1fr 30px 30px;
      grid-template-areas: "program-name program-attack-and-damage program-actions";

      .installed-program-name {
        grid-area: "program-name";
      }

      .installed-program-attack-and-damage {
        grid-area: "program-attack-and-damage";
        display: grid;
        grid-template-columns: 15px 15px;
        grid-template-areas: "program-attack program-damage";

        .installed-program-attack {
          grid-area: "program-attack";
        }
        .installed-program-defense {
          grid-area: "program-defense";
        }
        .installed-program-damage {
          grid-area: "program-damage";
        }
      }

      .installed-program-actions {
        grid-area: "program-actions";
      }
    }
  }

  .cyberdeck-rezzed-section {
    grid-area: weapon;
    background-color: @chrome-white;
    min-height: 35px;

    .cyberdeck-rezzed-software-list {
      display: grid;
      grid-template-columns: 1fr 30px 30px 30px 30px 30px 70px;
      grid-template-areas: "program-name program-per  program-spd program-atk program-def program-rez-and-decrement program-reset";

      .rezzed-program-name {
        grid-area: "program-name";
      }

      .rezzed-program-per {
        grid-area: "program-per";
      }
      .rezzed-program-spd {
        grid-area: "program-spd";
      }
      .rezzed-program-atk {
        grid-area: "program-atk";
      }
      .rezzed-program-def {
        grid-area: "program-def";
      }

      .rezzed-program-rez-and-decrement {
        grid-area: "program-rez-and-decrement";
        display: grid;
        grid-template-columns: 15px 15px;
        grid-template-areas: "program-rez program-rez-decrement";

        .rezzed-program-rez {
          grid-area: "program-rez";
        }
        .rezzed-program-rez-decrement {
          grid-area: "program-rez-decrement";
        }
      }

      .rezzed-program-reset {
        grid-area: "program-reset";
      }
    }
  }
}

// Section Specific CSS
.handle-block,
.role-block,
.hitpoint-block,
.deathsave-block,
.humanity-block,
.stat-block {
  color: @flint-black;
  background-color: @chrome-white;
}

.image-block {
  height: 190px;
  width: 190px;

  .profile-img {
    clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
  }
  overflow: hidden;
}

.block-label {
  text-align: center;
}

.block-data {
  text-align: center;
}

.tab-label {
  display: flex;
  justify-content: center;
  color: @chrome-white;
  background-color: @flint-black;
  text-align: center;
  min-width: 150px;
  //clip-path: polygon(33px 0, 100% 0%, 100% 100%, 11px 100%);

  &.tab-indent {
    clip-path: polygon(33px 0, 100% 0%, 100% 100%, 11px 100%);
  }

  &.active {
    background-color: @wyrm-red;
  }

  &:hover {
    text-shadow: none;
  }
}

.tab-pink-underlay {
  background-color: @meat-space-pink;
  margin-left: 20px;
  clip-path: polygon(22px 0, 100% 0%, 100% 100%, 0% 100%);
}

.cpr-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cpr-tabs > * {
  flex: 1;
}

.cpr-tabs > .flex0 {
  display: block;
  flex: 0;
}

.cpr-tabs > .flex1 {
  flex: 1;
}

.cpr-tabs > .flex2 {
  flex: 2;
}

.cpr-tabs > .flex3 {
  flex: 3;
}

.cpr-tabs .item {
  text-align: center;
}

.cpr-tabs .item.active {
  text-shadow: 0 0 10px red;
}

.collapse-icon,
.expand-icon {
  font-size: xx-small;
}

.sheet-cprFilter-section {
}
