// Cyberpunk Red Core Black-ICE Sheet Styling
// Overall Sheet Layout
.bice-sheet {
  font-family: "Jost";
  background-color: @chrome-white;
  display: grid;
  min-width: 43.75rem;
  width: 44.688rem;
  grid-template-rows: auto;
  grid-template-areas:
    "bice-stats"
    "bice-details";

  .bice-stats {
    display: grid;
    grid-area: bice-stats;
    grid-template-rows: 0.625rem 1.25rem;
    grid-template-areas:
      "bice-top"
      "bice-head"
      "bice-value";

    .bice-top {
      grid-area: bice-top;
      align-self: center;
    }
    .bice-head {
      grid-area: bice-head;
    }
    .bice-value {
      grid-area: bice-value;
    }
  }

  .bice-details {
    display: grid;
    grid-area: bice-details;
    grid-template-columns: 4.5rem 1fr;
    grid-template-areas: "bice-icon bice-effects";

    .bice-icon {
      gap: 0.313rem;
      height: 4.5rem;
      width: 4.5rem;
      display: block;
      grid-area: bice-icon;
      overflow: hidden;
    }
    .bice-effects {
      gap: 0.313rem;
      display: block;
      grid-area: bice-effects;
    }
  }

  .bice-label-corner-both {
    clip-path: polygon(
      0.625rem 0,
      calc(100% - 0.625rem) 0,
      100% 0.625rem,
      100% 100%,
      0 100%,
      0 0.625rem
    );
    height: 0.813rem;
  }

  .bice-label-corner-left {
    clip-path: polygon(0.625rem 0, 100% 0, 100% 100%, 0 100%, 0 0.625rem);
    height: 0.813rem;
  }

  .bice-label-corner-right {
    clip-path: polygon(0 0, calc(100% - 0.625rem) 0, 100% 0.625rem, 100% 100%, 0 100%);
    height: 0.813rem;
  }
}
