// Container Sheet Layout
.container-sheet {
  font-family: "Jost";

  // The basic sheet should be white
  background-color: @chrome-white;

  // Utilize grid for element placement on the sheet
  display: grid;

  // We want white borders between each element
  grid-gap: 0.313rem;

  // At a top level, we will have 2x1 grid
  // +-----------------------------+
  // | img, name       | inventory |
  // | settings, money | content   |
  // +-----------------------------+
  grid-template-columns: 13.125rem auto;
  grid-template-areas: "pane-left pane-right";

  // Pane for main and stats
  .left-pane {
    grid-area: pane-left;
    display: grid;

    max-width: 13.125rem;
    grid-gap: 0.313rem;
    padding: 0.313rem;

    grid-template-rows: 12.5rem 1.875rem 1.875rem 1.688rem auto;
    grid-template-areas:
      "image"
      "name"
      "settings"
      "eurobucks"
      "settingsgm";

    .image-block {
      grid-area: image;
      width: 12.5rem;
      height: 12.5rem;
      background-color: @wyrm-red;
      overflow: hidden;
    }

    .name-section {
      grid-area: name;
    }

    .settings-section {
      grid-area: settings;

      .trade-with-label {
        display: flex;
        align-items: center;
        padding: 0.313rem;
      }

      .trade-with-dropdown {
        width: 6.563rem;
        float: right;
        padding-right: 0.313rem;
      }
    }

    .settings-gm-section {
      grid-area: settingsgm;

      .container-type-label {
        display: flex;
        align-items: center;
        padding: 0.313rem;
      }

      .container-type-dropdown {
        width: 9.375rem;
        float: right;
        padding-right: 0.313rem;
      }

      .eurobucks-modify-reason-label {
        padding: 0.313rem;
        max-width: fit-content;
      }

      .container-type-settings {
        padding: 0.313rem;
      }

      .container-shop-settings {
        padding: 0.313rem;
      }

      .container-eurobucks-ledger {
        padding: 0.313rem;
      }
    }

    .eurobucks-section {
      grid-area: eurobucks;
      padding: 0.313rem;
      height: 1.688rem;

      .eurobucks-label {
        display: flex;
        align-items: center;
      }
    }
  }

  .right-pane {
    grid-area: pane-right;

    display: flex;
    height: auto;

    border-color: @wyrm-red;
    border-style: solid;
    border-width: 0.313rem;

    .right-content {
      min-width: 46.875rem;
      width: 100%;
      overflow-y: scroll;
    }
  }
}
