.dialog-header {
  flex-grow: 1;
}

.dialog-grid {
    display: flex;
    width  : inherit;
    height : inherit;
    flex   : 1 1 auto;
    background-color: @overcast-grey;
}

.dialog-list {
  list-style      : none;
    margin          : 0;
    padding         : 0;
    overflow-y      : auto;
    scrollbar-width : thin;
    background-color: @chrome-white;

  li:nth-child(even) {
      background-color: @meat-space-pink;
  }

  li:nth-child(odd) {
      background-color: @chrome-white;
  }
}

.dialog-item {
  align-items: center;
  padding: 0 2px;

  .dialog-item-name {
    flex-grow: 3;
  }

  .dialog-item-value {
    text-align: end;

    input[type="checkbox"],
    select {
      height: unset;
      max-width: fit-content;
    }
  }
}

.situational-mods {
  li {
    border-style: outset;
    border-color: rgba(110, 42, 42, 0.5);
    border-width: 2px;
    border-radius: 5px;
    margin: 2px 0px 2px 0px;
  }
}

.mod-selected {
  background-color: lightgrey;
}
