.dialog-sheet {
  min-width: 20.625rem;

  .dialog-header {
    width: 20.625rem;
  }

  .dialog-footer {
    position: sticky;
    bottom: 0;
    background-color: @chrome-white;
    padding: 0rem 0.313rem 0.313rem 0.313rem;
    border-top: 0.313rem solid @chrome-white;
    border-bottom: 0.5rem solid @chrome-white;
  }

  hr {
    border: 0;
    height: 0.063rem;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(136, 34, 34, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
}

.dialog-grid {
  display: flex;
  width: inherit;
  height: inherit;
  flex: 1 1 auto;
}

.situational-mod-list,
.dialog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: @chrome-white;
}

.dialog-list {
  border-style: outset;
  border-color: rgba(110, 42, 42, 0.5);
  border-width: 0.125rem;
  border-radius: 0.313rem;

  li:nth-child(even) {
    background-color: @chrome-white;
  }

  li:nth-child(odd) {
    background-color: @meat-space-pink;
  }
}

.dialog-item-header {
  background-color: #2d2f2fff !important;
  color: #eaeaeaff;
}

.situational-mod-item,
.dialog-item {
  align-items: center;
  padding: 0.063rem 0.125rem 0.063rem 0.125rem;

  .situational-mod-name,
  .dialog-item-name {
    flex-grow: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dialog-item-detail,
  .situational-mod-value {
    text-align: center;
  }

  .situational-mod-input,
  .dialog-item-input {
    text-align: end;

    input[type="checkbox"],
    select {
      height: unset;
      max-width: fit-content;
    }
  }
}

.situational-mods {
  li {
    border-style: outset;
    border-color: rgba(110, 42, 42, 0.5);
    border-width: 0.125rem;
    border-radius: 0.313rem;
    margin: 0.125rem 0rem 0.125rem 0rem;
  }
}

.mod-selected {
  background-color: lightgrey;
}

.total-mods {
  border-style: outset;
  border-color: rgba(110, 42, 42, 0.5);
  border-width: 0.125rem 0rem 0rem 0rem;

  .total-mod-value {
    padding: 0.063rem 0.188rem;
  }
}
