.actor-sheet,
.container-sheet,
.dialog-sheet,
.item-sheet {
  font-family: var(--cpr-font-primary);

  // Undo Foundry Base Style settings for elements
  img {
    border: none;
  }

  ol li {
    list-style-type: none;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"] {
    border: none;
    outline: none;
    box-shadow: none;
    width: calc(100% - 0.125rem);
    min-width: unset;
    height: unset;
    background: unset;
    margin: 0;
    color: unset;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &:hover {
      border-right: 0.063rem;
      border-right-style: solid;
      border-left: 0.063rem;
      border-left-style: solid;
    }
  }

  .editor .tox-toolbar-overlord,
  .editor .tox-toolbar__primary {
    background: none;
  }
}

#chat-form textarea {
  background: none;
}

#chat-controls {
  color: var(--cpr-text-inv);

  .roll-type-select {
    background-color: var(--cpr-background-chat-card);
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input,
select,
button,
.sidebar-tab .directory-header .header-search input,
.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default {
  background: var(--cpr-background-foundry-input);
}

/* -------------------------------------------- */
/* Override pause menu with glitch effect       */
/* IF enabled in settings.enablePauseAnimation  */
/* -------------------------------------------- */
#pause {
  .pause-image {
    background: url("icons/pause.png");
    background-size: 8rem;
    width: 8rem;
    height: 8rem;
    padding-left: 8rem;
  }
  .pause-glitch {
    .glitch;
    text-transform: uppercase;
    font-family: var(--cpr-font-pause);
    font-weight: 800;
    color: var(--cpr-pause-text);

    &::before,
    &::after {
      content: attr(data-text);
    }
  }
}
