@import "active-effect-sheet.less";
@import "actor-sheet.less";
@import "apps.less";
@import "black-ice-sheet.less";
@import "chat.less";
@import "colors.less";
@import "container-sheet.less";
@import "demon-sheet.less";
@import "dialog.less";
@import "dialogs.less";
@import "flex.less";
@import "fonts.less";
@import "foundry-overrides.less";
@import "glitch.less";
@import "item-card.less";
@import "item-sheet.less";
@import "layout.less";
@import "ledger.less";
@import "lists.less";
@import "migration.less";
@import "mook-sheet.less";
@import "text.less";
@import "weapon-list.less";

.window-app .window-content {
  background: @chrome-white;
}

.editor {
  flex: 1 0 auto;
  padding: 0 0px;
  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: none;
  }
}

.editor-content {
  padding: 0 5px;
}
