#cpr-migration.application {
  ol {
    padding-left: 0;
    li {
      margin-bottom: unset;
    }
  }
}

#cpr-migration {
  .migration-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "progress"
      "information";
  }

  hr {
    margin: 0.4rem 0;
  }

  .header {
    grid-area: header;

    .title {
      font-family: var(--cpr-font-hero);
      font-size: var(--cpr-font-large);
    }
  }

  .progress {
    grid-area: progress;

    .dialog-list {
      margin: unset;
    }

    .dialog-item {
      position: relative;
    }
  }

  .information {
    grid-area: information;
  }
  .progress-container {
    position: relative;

    .progress-bar {
      position: absolute;

      top: 75%;
      width: 0%;
      height: 25%;
      background-color: var(--cpr-background-migration-progress);
      opacity: 0.4;
    }
  }
}
