// Cyberpunk Red Core Mook Sheet Styling
// Overall Sheet Layout
*:focus {
  outline: none;
}

.mook-sheet {
  font-family: "Jost";
  background-color: @chrome-white;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-template-areas: "mook-name mook-details";

  .mook-name {
    grid-area: mook-name;
  }

  .mook-details {
    display: grid;
    grid-template-rows: auto;
    grid-area: mook-details;
    grid-template-areas:
      "mook-img-and-stats"
      "mook-gear"
      "mook-skills"
      "mook-special"
      "mook-program"
      "mook-crit"
      "mook-notes";
    width: 57.813rem;
  }

  .mook-img-and-stats {
    display: grid;
    grid-template-areas: "mook-image mook-stats-and-derived";
  }

  .mook-image {
    grid-area: mook-image;
    display: grid;
    grid-template-areas: "mook-image-toggle mook-image-block";
    width: 10.5rem;
    height: 10rem;
    overflow: hidden;
    padding: 0.313rem;
  }

  .mook-image-small-toggle {
    width: 1.063rem;
  }

  .mook-image-toggle {
    grid-area: "mook-image-toggle";
    &::after {
      content: attr(data-text);
    }
  }

  .mook-image-block {
    grid-area: "mook-image-block";
    clip-path: polygon(1.563rem 0, 100% 0, 100% 100%, 0 100%, 0 1.563rem);
    height: 10.313rem;
    width: 9.438rem;
  }

  .mook-image-block-img {
    width: 9.438rem;
    height: 155;
    object-fit: contain;
    border: 0;
  }

  .mook-stats-and-derived {
    display: grid;
    grid-template-rows: auto;
    grid-area: mook-stats-and-derived;
    grid-template-areas:
      "mook-stats"
      "mook-derived";
    min-width: 26.25rem;
  }

  .mook-stats {
    display: grid;
    grid-area: mook-stats;
    grid-template-areas:
      "mook-int-stat mook-ref-stat mook-dex-stat mook-tech-stat mook-cool-stat"
      "mook-will-stat mook-luck-stat mook-move-stat mook-body-stat mook-emp-stat";
    .mook-int-stat {
      grid-area: mook-int-stat;
    }
    .mook-ref-stat {
      grid-area: mook-ref-stat;
    }
    .mook-dex-stat {
      grid-area: mook-dex-stat;
    }
    .mook-tech-stat {
      grid-area: mook-tech-stat;
    }
    .mook-cool-stat {
      grid-area: mook-cool-stat;
    }
    .mook-will-stat {
      grid-area: mook-will-stat;
    }
    .mook-luck-stat {
      grid-area: mook-luck-stat;
    }
    .mook-move-stat {
      grid-area: mook-move-stat;
    }
    .mook-body-stat {
      grid-area: mook-body-stat;
    }
    .mook-emp-stat {
      grid-area: mook-emp-stat;
    }
  }

  .mook-derived-stats {
    gap: 0.625rem;
    display: grid;
    grid-area: mook-derived;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-areas: "mook-hp mook-wounded mook-deathsave";
    .mook-hp {
      grid-area: mook-hp;
    }
    .mook-wounded {
      grid-area: mook-wounded;
    }
    .mook-deathsave {
      grid-area: mook-deathsave;
    }
  }

  .mook-gear {
    gap: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-area: mook-gear;
    grid-template-areas: "mook-weapon-list mook-armor";
    .mook-weapon-list {
      grid-area: mook-weapon-list;
      background-color: @chrome-white;
      color: @flint-black;
    }
    .mook-armor {
      grid-area: mook-armor;
      background-color: @chrome-white;
      color: @flint-black;
    }
  }

  .mook-weapon {
    display: grid;
    text-align: left;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas: "mook-weapon-name mook-weapon-mode mook-weapon-rolls";
    .mook-weapon-name {
      grid-area: mook-weapon-name;
      padding-right: 0.375rem;
      text-overflow: ellipsis;
    }
    .mook-weapon-mode {
      grid-area: mook-weapon-mode;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "mook-weapon-aim mook-weapon-auto mook-weapon-supp";
      .mook-weapon-aim {
        grid-area: mook-weapon-aim;
      }
      .mook-weapon-auto {
        grid-area: mook-weapon-auto;
      }
      .mook-weapon-supp {
        grid-area: mook-weapon-supp;
      }
    }
    .mook-weapon-rolls {
      grid-area: mook-weapon-rolls;
    }
  }

  .mook-skills {
    grid-area: mook-skills;
  }

  .mook-special {
    grid-area: mook-special;
  }

  .mook-special-list {
    min-height: 0.625rem;
  }

  .mook-crit {
    grid-area: mook-crit;
  }

  .mook-crit-list {
    min-height: 0.625rem;
  }

  .mook-notes {
    grid-area: mook-notes;
    min-height: 3.75rem;
    min-width: 26.875rem;
  }

  .mook-edit-section {
    min-height: 5rem;
    min-width: 8.438rem;
    height: unset;
    display: flex;
    flex: 1 0 auto;
    background-color: @chrome-white;
    flex-wrap: wrap;
  }
}

.mook-sheet-limited {
  font-family: "Jost";
  display: grid;
  grid-template-columns: 10.063rem 2rem 1fr;
  grid-template-areas: "mook-image-limited mook-name-limited mook-notes-limited";

  .mook-image-limited {
    grid-area: mook-image-limited;
    clip-path: polygon(1.875rem 0, 100% 0, 100% 100%, 0 100%, 0 1.875rem);
    width: 9.438rem;
    height: 9.438rem;
    margin: 0.313rem;

    .mook-image-block-img {
      width: 9.438rem;
      height: 9.438rem;
      object-fit: contain;
      border: 0;
    }
  }

  .mook-name-limited {
    grid-area: mook-name-limited;
  }

  .mook-notes-limited {
    grid-area: mook-notes-limited;
  }

  .mook-edit-section-limited {
    min-height: 8.438rem;
    min-width: 8.438rem;
    height: unset;
    display: flex;
    flex: 1 0 auto;
    background-color: @chrome-white;
    flex-wrap: wrap;
  }
}
