/*--------------------
  Text modifiers
---------------------*/
.smallcaps {
  font-variant: small-caps;
}

.text- {
  &smallest {
    font-size: @font-smallest;
  }

  &smaller {
    font-size: @font-smaller;
  }

  &small {
    font-size: @font-small;
  }

  &normal {
    font-size: @font-normal;
  }

  &large {
    font-size: @font-large;
  }

  &larger {
    font-size: @font-larger;
  }

  &largest {
    font-size: @font-largest;
  }

  &massive {
    font-size: @font-massive;
  }

  &center {
    text-align: center;
  }

  &right {
    text-align: right;
  }

  &nowrap {
    white-space: nowrap;
  }

  &left {
    text-align: left;
    justify-content: left;
  }

  &super {
    vertical-align: super;
    font-size: smaller;
  }

  &thin {
    font-weight: 100;
  }

  &light {
    font-weight: 200;
  }

  &book {
    font-weight: 300;
  }

  &medium {
    font-weight: 400;
  }

  &semi {
    font-weight: 500;
  }

  &bold {
    font-weight: 600;
  }

  &heavy {
    font-weight: 700;
  }

  &black {
    font-weight: 800;
  }

  &extrablack {
    font-weight: 900;
  }

  &margin-left-smallest {
    margin-left: 2px;
  }

  &margin-left-smaller {
    margin-left: 4px;
  }

  &margin-left-small {
    margin-left: 6px;
  }

  &margin-left-normal {
    margin-left: 8px;
  }

  &margin-left-large {
    margin-left: 10px;
  }

  &margin-left-larger {
    margin-left: 12px;
  }

  &margin-left-largest {
    margin-left: 14px;
  }

  &margin-left-massive {
    margin-left: 16px;
  }

  &margin-right-smallest {
    margin-right: 2px;
  }

  &margin-right-smaller {
    margin-right: 4px;
  }

  &margin-right-small {
    margin-right: 6px;
  }

  &margin-right-normal {
    margin-right: 8px;
  }

  &margin-right-large {
    margin-right: 10px;
  }

  &margin-right-larger {
    margin-right: 12px;
  }

  &margin-right-largest {
    margin-right: 14px;
  }

  &margin-right-massive {
    margin-right: 16px;
  }

  &margin-top-smallest {
    margin-top: 2px;
  }

  &margin-top-smaller {
    margin-top: 4px;
  }

  &margin-top-small {
    margin-top: 6px;
  }

  &margin-top-normal {
    margin-top: 8px;
  }

  &margin-top-large {
    margin-top: 10px;
  }

  &margin-top-larger {
    margin-top: 12px;
  }

  &margin-top-largest {
    margin-top: 14px;
  }

  &margin-top-massive {
    margin-top: 16px;
  }

  &margin-bottom-smallest {
    margin-bottom: 2px;
  }

  &margin-bottom-smaller {
    margin-bottom: 4px;
  }

  &margin-bottom-small {
    margin-bottom: 6px;
  }

  &margin-bottom-normal {
    margin-bottom: 8px;
  }

  &margin-bottom-large {
    margin-bottom: 10px;
  }

  &margin-bottom-larger {
    margin-bottom: 12px;
  }

  &margin-bottom-largest {
    margin-bottom: 14px;
  }

  &margin-bottom-massive {
    margin-bottom: 16px;
  }

  &margin-sides-smallest {
    margin-left: 2px;
    margin-right: 2px;
  }

  &margin-sides-smaller {
    margin-left: 4px;
    margin-right: 4px;
  }

  &margin-sides-small {
    margin-left: 6px;
    margin-right: 6px;
  }

  &margin-sides-normal {
    margin-left: 8px;
    margin-right: 8px;
  }

  &margin-sides-large {
    margin-left: 10px;
    margin-right: 10px;
  }

  &margin-sides-larger {
    margin-left: 12px;
    margin-right: 12px;
  }

  &margin-sides-largest {
    margin-left: 14px;
    margin-right: 14px;
  }

  &margin-sides-massive {
    margin-left: 16px;
    margin-right: 16px;
  }

  &padding-right-smallest {
    padding-right: 2px;
  }

  &padding-left-smallest {
    padding-left: 2px;
  }

  &padding-left-smaller {
    padding-left: 4px;
  }

  &padding-left-small {
    padding-left: 6px;
  }

  &padding-left-normal {
    padding-left: 8px;
  }

  &padding-left-large {
    padding-left: 10px;
  }

  &padding-left-larger {
    padding-left: 12px;
  }

  &padding-left-largest {
    padding-left: 14px;
  }

  &padding-left-massive {
    padding-left: 16px;
  }

  &padding-right-smallest {
    padding-right: 2px;
  }

  &padding-right-smaller {
    padding-right: 4px;
  }

  &padding-right-small {
    padding-right: 6px;
  }

  &padding-right-normal {
    padding-right: 8px;
  }

  &padding-right-large {
    padding-right: 10px;
  }

  &padding-right-larger {
    padding-right: 12px;
  }

  &padding-right-largest {
    padding-right: 14px;
  }

  &padding-right-massive {
    padding-right: 16px;
  }

  &padding-top-smallest {
    padding-top: 2px;
  }

  &padding-top-smaller {
    padding-top: 4px;
  }

  &padding-top-small {
    padding-top: 6px;
  }

  &padding-top-normal {
    padding-top: 8px;
  }

  &padding-top-large {
    padding-top: 10px;
  }

  &padding-top-larger {
    padding-top: 12px;
  }

  &padding-top-largest {
    padding-top: 14px;
  }

  &padding-top-massive {
    padding-top: 16px;
  }

  &padding-bottom-smallest {
    padding-bottom: 2px;
  }

  &padding-bottom-smaller {
    padding-bottom: 4px;
  }

  &padding-bottom-small {
    padding-bottom: 6px;
  }

  &padding-bottom-normal {
    padding-bottom: 8px;
  }

  &padding-bottom-large {
    padding-bottom: 10px;
  }

  &padding-bottom-larger {
    padding-bottom: 12px;
  }

  &padding-bottom-largest {
    padding-bottom: 14px;
  }

  &padding-bottom-massive {
    padding-bottom: 16px;
  }

  &padding-sides-smallest {
    padding-left: 2px;
    padding-right: 2px;
  }

  &padding-sides-smaller {
    padding-left: 4px;
    padding-right: 4px;
  }

  &padding-sides-small {
    padding-left: 6px;
    padding-right: 6px;
  }

  &padding-sides-normal {
    padding-left: 8px;
    padding-right: 8px;
  }

  &padding-sides-large {
    padding-left: 10px;
    padding-right: 10px;
  }

  &padding-sides-larger {
    padding-left: 12px;
    padding-right: 12px;
  }

  &padding-sides-largest {
    padding-left: 14px;
    padding-right: 14px;
  }

  &padding-sides-massive {
    padding-left: 16px;
    padding-right: 16px;
  }

  &padding-right-smallest {
    padding-right: 2px;
  }

  &rotate {
    transform: rotate(-90deg);
  }

  &vert-center {
    align-self: center;
  }
  &space-around {
    justify-content: space-around;
  }

  &float-right {
    float: right;
  }

  &underline {
    text-decoration: underline;
  }

  &flex-end {
    justify-content: flex-end;
  }

  &align-last-end {
    text-align-last: end;
  }

  &italic {
    font-style: italic;
  }

  &capitalize {
    text-transform: capitalize;
  }
}
