/*
 * Define all variables in this file
 *
 * We do not use less variables (@) for colors or fonts in other files.
 * We use css variables to allow users to modify our css easily.
 *
 * All css variable must be prefixed with '--cpr-' to avoid namespace issues
 */
:root {
  // Fonts
  --cpr-font-primary: "Jost";
  --cpr-font-hero: "Jost";
  --cpr-font-pause: "Orbitron";

  --cpr-font-smallest: 0.6rem;
  --cpr-font-smaller: 0.7rem;
  --cpr-font-small: 0.9rem;
  --cpr-font-normal: 1rem;
  --cpr-font-large: 1.5rem;
  --cpr-font-larger: 1.7rem;
  --cpr-font-largest: 2rem;
  --cpr-font-massive: 4rem;

  // Background Colors
  // --cpr-background-window: #000;
  --cpr-background-window: #eaeaea;
  --cpr-background-border: #b90202;
  --cpr-background-box: #eaeaea;
  --cpr-background-header: #2d2f2f;
  --cpr-background-pill: #2d2f2f;
  --cpr-background-row-even: #eaeaea;
  --cpr-background-row-odd: #ffc3b6;
  --cpr-background-tab-active: #b90202;
  --cpr-background-tab-inactive: #2d2f2f;
  --cpr-background-tab-underlay: #ffc3b6;
  --cpr-background-chat: rgba(0, 0, 0, 0.05);
  --cpr-background-chat-card: #eaeaea;
  --cpr-background-chat-card-block: #b90202;
  --cpr-background-chat-card-block-before: #eaeaea;
  --cpr-background-chat-border: #999999;
  --cpr-background-foundry-input: #eaeaea;
  --cpr-background-cyberdeck-section-header: #ffc3b6;
  --cpr-background-dialog-hr-gradient-start: rgba(0, 0, 0, 0);
  --cpr-background-dialog-hr-gradient-middle: rgba(136, 34, 34, 0.75);
  --cpr-background-dialog-hr-gradient-end: rgba(0, 0, 0, 0);
  --cpr-background-dialog-border: #b90202;
  --cpr-background-dialog-selected: #ffc3b6;
  --cpr-background-migration-bar: #5d49ff;
  --cpr-background-migration-bar-border: #b2c3ff;
  --cpr-background-migration-bar-label: rgba(0, 0, 0, 0.6);
  --cpr-background-foundry-hover: #ff0000;

  // UI Colors
  --cpr-pause-text: #f4eded;
  --cpr-pause-highlight1: #2388d2;
  --cpr-pause-highlight2: #8ef104;

  // Text Colors
  --cpr-text-normal: #2d2f2f;
  --cpr-text-pill: #eaeaea;
  --cpr-text-header: #eaeaea;
  --cpr-text-tab-normal: #eaeaea;
  --cpr-text-tab-highlight: #ffff3f;
  --cpr-text-icon-normal: #2d2f2f;
  --cpr-text-icon-dimmed: #9e9f9f;
  --cpr-text-icon-highlight: #b90202;
  --cpr-text-chat-normal: #2d2f2f;
  --cpr-text-chat-success: #609040;
  --cpr-text-chat-failure: #b90202;
  --cpr-text-mook-name: #eaeaea;
  --cpr-text-mook-header: #eaeaea;
  --cpr-text-mook-normal: #2d2f2f;
}

html[data-cpr-theme="default"] {
  // intentionally blank, will just inherit the above as defaults
}

html[data-cpr-theme="darkmode"] {
  --cpr-background-row-odd: #adb5bd;
  --cpr-background-tab-underlay: #adb5bd;
  --cpr-background-cyberdeck-section-header: #adb5bd;
  --cpr-background-dialog-selected: #adb5bd;
  --cpr-background-border: #495057;
  --cpr-background-tab-active: #495057;
  --cpr-background-dialog-border: #495057;
  --cpr-background-foundry-hover: #343a40;
}
