/*
 * Define all variables in this file
 *
 * We do not use less variables (@) for colors or fonts in other files.
 * We use css variables to allow users to modify our css easily.
 *
 * All css variable must be prefixed with '--cpr-' to avoid namespace issues
 */
:root {
  // Fonts
  --cpr-font-primary: "Jost";
  --cpr-font-hero: "Jost";
  --cpr-font-pause: "Orbitron";

  --cpr-font-smallest: 0.6rem;
  --cpr-font-smaller: 0.7rem;
  --cpr-font-small: 0.9rem;
  --cpr-font-normal: 1rem;
  --cpr-font-large: 1.5rem;
  --cpr-font-larger: 1.7rem;
  --cpr-font-largest: 2rem;
  --cpr-font-massive: 4rem;

  // Background Colors
  --cpr-background-window: #eaeaea;
  --cpr-background-border: #b90202;
  --cpr-background-box: #eaeaea;
  --cpr-background-header: #2d2f2f;
  --cpr-background-pill: #2d2f2f;
  --cpr-background-row-pri: #eaeaea;
  --cpr-background-row-sec: #ffc3b6;
  --cpr-background-tab-active: #b90202;
  --cpr-background-tab-inactive: #2d2f2f;
  --cpr-background-tab-underlay: #ffc3b6;
  --cpr-background-chat: rgba(0, 0, 0, 0.05);
  --cpr-background-chat-card: #eaeaea;
  --cpr-background-chat-card-block: #b90202;
  --cpr-background-chat-card-block-before: #eaeaea;
  --cpr-background-chat-border: #999999
  --cpr-background-foundry-input: #eaeaea;

  // UI Colors
  --cpr-pause-text: #f4eded;
  --cpr-pause-highlight1: #2388d2;
  --cpr-pause-highlight2: #8ef104;

  // Text Colors
  --cpr-text-normal: #2d2f2f;
  --cpr-text-inv: #eaeaea;
  --cpr-text-pill: #eaeaea;
  --cpr-text-highlight: #ffff3f;
  --cpr-text-icon-highlight: #b90202;
  --cpr-text-chat-normal: #2d2f2f;
  --cpr-text-chat-success: #609040;
  --cpr-text-chat-failure: #b90202;
}
